@inherits LayoutComponentBase

<link href="css/mainLayout.css" rel="stylesheet" />
<link href="css/Common.css" rel="stylesheet" />

<header>
   <div class="nav-bar">
        <div class="logo">
            F.D
        </div>
        <div class="nav-links">
            <a class="nav-link" href="/">Home</a>
            <a class="nav-link" href="/about">About</a>
        </div>
        <div class="curent-user">
            <p>@@User</p>
        </div>
   </div>
</header>
<main>
    @Body
</main>
<footer>
    APP F
</footer>
